body{
    margin: 0;
    padding: 0;
    background-color: rgba(253, 170, 128, 0.088);

    
    
}
#board { 
    
    height: 100vh;
    position: relative;
    overflow: hidden;
   

}

#player{

position: absolute;
}
.obstacle {

    position: absolute;
}
#page-gameover {
    text-align: center;
    background-color: rgb(166, 161, 171);
}
