body{
    margin: 0;
    padding: 0;
    background-color: rgba(244, 225, 168, 0.112);
    overflow: hidden;


}
#board { 
    
    height: 100vh;
    position: relative;
    overflow: hidden;
   

}

#player{

position: absolute;
}
.obstacle {

    position: absolute;
}
