body{
    margin: 0;
    padding: 0;
    
    
}
#board { 
    background-color: rgba(129, 236, 215, 0.285);
    height: 100vh;
    position: relative;
    overflow: hidden;
   

}

#player{

position: absolute;
}
.obstacle {

    position: absolute;
}
#page-gameover {
    text-align: center;
    background-color: rgb(166, 161, 171);
}
